* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: rgb(75, 75, 75);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .calculator {
    background-color: #fff;
    height: 540px;
    width: 320px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 23px -10px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: 0px 5px 23px -10px rgba(0, 0, 0, 0.81);
    box-shadow: 0px 5px 23px -10px rgba(0, 0, 0, 0.81);
    padding: 0.7rem;
    display: grid;
    grid-template-columns: repeat(4, 72px);
    grid-template-rows: repeat(6, 72px);
    place-self: center;
    justify-content: space-between;
    align-content: space-between;

    & > button {
      background-color: #302b2b;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      font-size: 1.5rem;
      color: #fff;
      outline: none;
    }

    .operational {
      background-color: #d4d4d4;
      color: #1c1c1c;
    }

    .operators {
      background-color: #ff9500;
      color: #fff;
    }

    .spanTwo {
      grid-column: span 2;
      border-radius: 40px;
      text-align: left;
      padding-left: 1.5rem;
    }

    .board {
      grid-column: 1 / 5;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem 0.5rem;
      margin-bottom: -1rem;

      &-upper {
        font-size: 1.5rem;
      }

      &-lower {
        font-size: 3rem;
        font-weight: bold;
        width: 100%;
        word-wrap: break-word;
        text-align: right;
      }
    }
  }
}
